/* colors and fonts

background #1D1818
red/crimson #A91111
font-family: 'Arimo', sans-serif;
font-family: 'Yesteryear', cursive;

*******************/




body {
    background-color: #1D1818;
    color: white;
    font-family: 'Arimo', sans-serif
}

.service-button-home {
    font-family: 'Arimo', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 18px; /* Increase font size */
    padding: 10px 20px;
    background-color: #A91111;
    border-radius: 12px;
    border: 3px solid black;
}


.service-button, .submit-button{
    font-family: 'Arimo', sans-serif;
    color: white;
    font-weight: bold;
    padding: 5px;
    background-color: #A91111;
    border-radius: 12px;
    border: 2px solid black;
}

.service-button:hover, service-button-home:hover{
    background-color: #7c0d0d;  
}

.script {

    font-family: 'Yesteryear', cursive;
    font-size: 3em;
    text-shadow: 3px 2px black;

}

/* HOME PAGE CSS 
*******************/
.home-container {
    background-image: url('../images/PlaceholderStoreFront.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ABOUT PAGE CSS 
*******************/


#about-banner {

        
        display: flex;
        flex-direction: column;
        background-image: url(../images/engine-banner1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 22em;
        justify-content: center;
        align-items: center;
        border-bottom: 5px solid #A91111
       


}

.about1 {
    margin-top: 3em;
    margin-bottom: 2em;
}

#mustang {
    /*
    border-top: 5px solid #A91111;
    border-bottom: 5px solid #A91111  */
}

/* REVIEW PAGE CSS 
*******************/

.review-head {
    margin-top: 2.2em;
}

.review-head h2 {
    font-size: 5em;
}

.stars {
    color: gold;
}

.profile-pic {
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }

/* NAV CSS 
*******************/
#navbarMainHeader a{
    color: white;
    padding-right: 6em;
    font-weight: bold;
    font-size: 1.2em;
}

#navbarMainHeader a:hover{
    color: rgb(202, 202, 202);
}

#logoNav {
    height: 75px;
}

.bg-main {
    background-color: #1D1818;
}

nav {
    border-bottom: 5px solid #A91111;
}

#logo{
    height: 1em;
}

.nav-link.active {
    color: #A91111 !important;
}

.nav-link.active:hover {
    color:#7c0d0d !important;
}

/* Style for the footer */
footer {
    padding-top: 20px;
    background-color: #1D1818;
    border-top: 5px solid #A91111;
  }

  .form-container, .quote, .social-container, .social-icon {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.social-icon {
    color:#A91111;
    font-size: xx-large;
}

.phone-icon, .address-icon {
    color: #A91111;
}

.social-icon:hover, .phone-icon:hover {
    color: #7c0d0d;
}

.phone-link {
    font-size: x-large;
    color:white;
}

.text-muted {
    padding-bottom: 10px;
}

.footer-text {
    font-size: x-large;
}

/*MEDIA queries ***********************/


@media only screen and (max-width: 1399px) {
    #navbarMainHeader a{
        color: white;
        padding-right: 2em;
        font-weight: bold;
        font-size: 1em;
    }
}

@media only screen and (max-width: 991px) {

    #navbarMainHeader a{
        color: white;
        padding-right: 1em;
        font-weight: bold;
        font-size: 1em;
    }


    #about-banner {

        height: 18em;

}


}

@media only screen and (min-width: 992px) {


}


@media only screen and (max-width: 800px) {


    #navbarMainHeader a{
        font-size: 1em;
    }
    

    #about-banner {

        height: 15em;
        background-image: url(../images/engine-bannerM.jpg);
}

}

@media only screen and (max-width: 600px) {

body{
    font-size: 12px;
}


    #about-banner {

        background-image: url(../images/engine-bannerM2.jpg);
}

}


@media only screen and (max-width: 430px) {

    body{
        font-size: 10px;
    }
    

    #about-banner {

        background-image: url(../images/engine-bannerM2.jpg);
}

}


@media only screen and (max-width: 360px) {

    body{
        font-size: 8px;
    }




    #about-banner {

        height: 13em;
}

}

.image1 {
        
    border: 10px solid #9A1111;
  }
  .image2 {
    
    border: 10px solid #9A1111;
  }
  p {
    font-family: 'Arimo', sans-serif;
 color: white;
}



/* Fawzi Styles */

/*      .row {
        position: relative;
        top: 50;
        left: 0;
      }

      .image1 {
        position: relative;
        top: 0;
        left: 0;
        border: 10px solid #9A1111;
      }
      .image2 {
        position: absolute;
        top: 170px;
        left: 170px;
        border: 10px solid #9A1111;
      }
      .container-fluid{
        
        background-color: #1D1818;
      }
   

h2 {
  font-family: "Arimo", Times, serif;
  color: rgb(112, 179, 238);
}

    </style>

    */