/* colors and fonts

background #1D1818
red/crimson #A91111
font-family: 'Arimo', sans-serif;
font-family: 'Yesteryear', cursive;

*******************/




body {
    background-color: #1D1818;
    color: white;
    font-family: 'Arimo', sans-serif
}






/* ABOUT PAGE CSS 
*******************/

#enginePic {
    width: 100%;
}



/* NAV CSS 
*******************/
#navbarMainHeader a{
    color: white;
    padding: .7em;
    font-weight: bold;
}

#logoNav {
    height: 75px;
}

.bg-main {
    background-color: #1D1818;
}

nav {
    border-bottom: 5px solid #A91111;
}

#logo{
    height: 1em;
}

@media only screen and (max-width: 991px) {
}

@media only screen and (min-width: 992px) {

}